{% extends "base.html" %}

{% block content %}
     
    <form method='post'>
        <div>
        <label> 
            
            <span > Title for your new blog:    </span>
            <br>
            <input type="text" name="title" required>
        </label>
        </div>
        <br>
        <div>
        <label>
            Your new Blog:
            <br>
            <!--<input class="body"type="textarea"name='body'required/> -->
            <textarea name="body" rows="15" cols="30" wrap="physical" name="body" required></textarea>
            <br><br>
           
            
        </label>
        </div>
        <input type="submit" value='Add Entry' />
    </form>

  

    
 
{% endblock %}